
// Primary Color
$primary-normal: #800020;
$primary-dark-1: #640011;
$primary-dark-2: #450005;
$primary-dark-3: #220000;
$primary-white-1: #952135;
$primary-white-2: #A9424C;
$primary-white-3: #BC6365;

// Secondary Color

$secondary-normal: #FFFACD;
$secondary-dark-1: #BEBD96;
$secondary-dark-2: #7C7C61;
$secondary-dark-3: #3B3B2D;
$secondary-white-1: #FFFCD6;
$secondary-white-2: #FFFEE0;
$secondary-white-3: #FFFFEB;
$secondary-white-4: #FFFFF2;

// White

$white-normal: #E3E0E0;
$white-dark-1: #AEACAC;
$white-dark-2: #797877;
$white-dark-3: #444343;
$white-light-1: #E9E8E8;
$white-light-2: #F0EFEF;
$white-light-3: #F7F6F6;

// Black

$black-normal: #2B2B2B;
$black-dark-1: #212121;
$black-dark-2: #171717;
$black-dark-3: #0D0D0D;
$black-light-1: #5D5D5D;
$black-light-2: #8F8F8F;
$black-light-3: #C2C2C2;

// Gradients

$gradient-primary-1: linear-gradient(to bottom, #800020, #450005);
