.container-footer-1{
  background-color: $primary-normal;
  width: 100%;
  height: 96px;


  .container-footer-1-item{
    width: $container-l;
    justify-content: space-between;


  }
  @include responsive(s){
    display: none;
  }

}
.container-footer-2{
  background-color: $primary-dark-3;
  width: 100%;
  height: 372px;

  h3{
    font-size: 24px;
    color: $white-light-3;
  }
  .container-footer-2-item{
    width: $container-l;
  }
}


.container-footer-mobile{
  background-color: $primary-normal;
  display: none;
  padding: 16px 24px;
  @include responsive(s){
    display: block;
  }

  .container-footer-mobile-social{
    width: 60%;
  }
}
