*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import "partials/_colors";
@import "partials/_layout";
@import "partials/_typhograpy";
@import "partials/_icons";
@import "./partials/_inputs";
@import "partials/_menu";
@import "partials/_footer";
@import "partials/_buttons";
@import "partials/_spacing";
@import "partials/svgs";
@import "partials/_animations";

html {
  scroll-behavior: smooth;
}

a{
  font-family: 'Lora', serif;
  color: $white-light-3;
  text-decoration: none;

  transition: .2s linear;

  &:hover{
    color: $primary-dark-3
  }
}

body{
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;

  background-color: $secondary-white-4;
}

svg, img{
  display: block;
  width: 100%;
}

// Landing Page

.text-sub-bar{
  width: 262px;
  height: 18px;
  border-radius: 24px;
  background: $gradient-primary-1;
  @include responsive(s){
    width: 296px;
  }
}


.container-card{
  width: 256px;
  height: 348px;
  background-color: $black-dark-1;
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  border-radius: 24px;

  @include responsive(s){
    width: 216px;
    height: 296px;
  }

}


.card-image{
  background-color: $white-light-2;
  width: 224px;
  height: 224px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);
  transition: .5s ease;

  &:hover{
    img{
      animation: none;
      transform: scale(1.2);
    }
  }

  img{
    transition: .5s ease;
    width: 70%;
    height: 95%;
  }

  @include responsive(s){
    width: 188px;
    height: 188px;
  }
}

.sectionOne{
  margin-left: 48px;
  @include responsive(s){
    margin-left: 0px;
  }
}

#card-1{
  top: -160px;
  right: -196px;

  @include responsive(s){
    top:0;
    right:0;
  }
  @include responsive(m){
    top:0;
    right:0;
  }
}

#card-2{
  right: -196px;
  @include responsive(s){
    right:0;
  }

  @include responsive(m){
    right:0;
  }
}

#card-3{
  top: 220px;
  right: 379px;

  @include responsive(s){
    top:0;
    right:0;
  }

  @include responsive(m){
    top:0;
    right:0;
  }
}

.benefit-box{
  width: 100%;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  span{
    font-family: 'Roboto', sans-serif;
    color: $black-dark-3;
    font-size: 24px;
    margin: 16px;
  }
  transition: .8s ease;
  &:hover{
    .icon-box{
      transition: .8s ease;
      box-shadow: 1px -2px 31px 4px rgba(128,0,32,0.59);
    }
  }
}

.icon-box{
  width: 72px;
  height: 72px;
  border-radius: 24px;
  background-color: $white-light-3;
  box-shadow: 0px 5.041px 18.658px 0px rgba(188, 99, 101, 0.15), 0px 14px 63px 0px rgba(188, 99, 101, 0.28);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .8s ease;
  svg{
    width: 70%;
    height: 70%;

  }

}

.container-image-section-two{
  display: flex;
  margin: 36px;
  justify-content: center;
  align-items: center;
  background-color: $white-light-3;
  width: 564px;
  height: 340px;
  padding: 12px;
  border-radius: 24px;
  box-shadow: 0px 20.011px 53.411px 0px rgba(0, 0, 0, 0.13), 0px 28.353px 60.687px 0px rgba(0, 0, 0, 0.18), 0px 62px 126px 0px rgba(0, 0, 0, 0.31);

  @include responsive(s){
    overflow: hidden;
    width: 312px;
    height: 192px;
  }

}

.section-three{
  @include responsive(s){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.box-detail{
  span{
    font-family: 'Roboto', sans-serif;
    color: $black-dark-3;
    font-size: 24px;
    margin: 8px;
  }
}

.circle-detail{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: $gradient-primary-1;
  @include responsive(s){
    width: 24px;
    height: 24px;
    margin-top: 8px;
  }
}

.container-card-feedback{
  background-color: $white-light-3;
  width: 236px;
  border-radius: 24px;
  text-align: center;
  padding: 16px 24px;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.4);

  span{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }

  p{
    padding: 8px ;
  }
}

.card-feedback-image{
  background-color: $black-dark-1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: cover;
}

.container-slider{
  overflow: none;
  width: 900px;
  @include responsive(s){
    width: 580px;
  }
}

@media screen and (max-width: 720px) {
  .container-slider {
    width: 280px;
  }
}


.sliderItem{
  margin-left: 78px;
  @include responsive(s){
    margin-left: 0;
  }
  @include responsive(m){
    margin-left: 0;
  }
}

.swiper-button-next,
.swiper-button-prev{
  color: $primary-normal !important;
}

.container-image-section-six{
  display: flex;
  margin: 36px;
  justify-content: center;
  align-items: center;
  background-color: $white-light-3;
  width: 518px;
  height: 348px;
  border-radius: 24px;
  box-shadow: 0px 20.011px 53.411px 0px rgba(0, 0, 0, 0.13), 0px 28.353px 60.687px 0px rgba(0, 0, 0, 0.18), 0px 62px 126px 0px rgba(0, 0, 0, 0.31);

  @include responsive(s){
    margin: 18px;
    overflow: hidden;
    width: 356px;
    height: 242px;
  }

}

.image-secton-six{
  width: 500px;

  @include responsive(s){
    overflow: hidden;
    width: 340px;
  }
}


#image-section-six-1{
  right: 350px;

  @include responsive(m){
    right: 0px;
  }
  @include responsive(s){
    right: 0px;
  }
}

#title-footer{
  color: $white-light-3;
}

.image-hero{
  width: 640px;
  height: 524px;
  position: absolute;
  @include responsive(m){
    width: 540px;
    height: 424px;
  }

  @include responsive(s){
    position: static;
    width: 370px;
    height: auto;
  }
}
.hero-title{
  top: 180px;

  @include responsive(s){
    top: 0px;
    position: static;
  }
}

.width-sub-bar-1{
  width: 190px;
  @include responsive(s){
    width: 220px;
  }
}


.width-sub-bar-2{
  width: 310px;
  @include responsive(s){
    width: 330px;
  }
}

.width-sub-bar-3{
  width: 150px;
  @include responsive(s){
    width: 180px;
  }
}

.width-sub-bar-4{
  width: 200px;
  @include responsive(s){
    width: 230px;
  }
}

.width-sub-bar-5{
  width: 180px;
  @include responsive(s){
    width: 210px;
  }
}

.width-sub-bar-6{
  width: 240px;
  @include responsive(s){
    width: 280px;
  }
}

.width-sub-bar-7{
  width: 242px;
  @include responsive(s){
    width: 280px;
  }
}

.width-sub-bar-8{
  width: 112px;
  @include responsive(s){
    width: 130px;
  }
}

.width-sub-bar-9{
  width: 72px;
  @include responsive(s){
    width: 88px;
  }
}

.width-sub-bar-100{
  width: 100%;
}

.image-section-two{
  width: 550px;
  height: 320px;
  position: absolute;
  @include responsive(s){
    overflow: hidden;
    width: 300px;
    height: 172px;
  }
}

// Home Page

.image-promotion{
  margin-top: 80px;

  @include responsive(s){
    margin-top: 110px;
  }
}

.container-cardBuy{
  border-radius: 18px;
  padding: 16px;
  width: 232px;
  height: 328px;
  background-color: $white-light-1;
  transition: .4s ease;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.4);

  .container-image{
    border-radius: 18px;
    width: 100%;
    height: 172px;
    background-color: $white-light-3;
  }

  .container-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .image-book{
    width: 140px;
    width: 70px;
    transition: .4s ease;
    &:hover{
      transform: scale(1.1);
    }
  }

  h5{
    color: $black-dark-3;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }

  &:hover{
    transform: scale(1.1);
  }
}

.container-slider-cardsbuy{
  overflow: hidden;
  width: 1100px;
  height: 380px;
  @include responsive(m){
    width: 1000px;
  }
  @include responsive(s){
    width: 580px;
  }
}

@media screen and (max-width: 720px) {
  .container-slider-cardsbuy{
    width: 280px;
  }
}

.container-cardBuy{
  margin: 24px;
  @include responsive(s){
    margin: 24px;
  }
}

.swiper{
  height: 380px;
}

.color-black {
  color: $primary-dark-3;
}

.container-slider-home{
  justify-content: flex-start;
  align-items: flex-start;
  @include responsive(s){
    justify-content: center;
    align-items: center;
  }
}
.container-author{
  transition: .4s ease;

  .container-author-img{
    cursor: pointer;
    transition: .4s ease;
    border-radius: 50%;
    width: 226px;
    height: 228px;
    background-color: $white-light-1;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.4);

    img{
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    &:hover{
      border: 8px solid $primary-normal;
    }

  }

  &:hover{
    transform: scale(1.1);
  }


}

.container-recnews{
  margin-left: 128px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include responsive(s){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}

// Product Page

.container-product{
  .image-product{
    border-radius: 24px;
    margin: 8px;
    padding: 16px;
    width: 492px;
    height: 532px;
    background-color: $white-light-1;
    box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.1599999964237213) ;

    img{
      width: 70%;

    }

    @include responsive(m){
      width: 436px;
      height: 472px;
    }

    @include responsive(s){
      width: 216px;
      height: 356px;
    }

    @include responsive(xs){
      display: none;
    }
  }

  .product-info{
    border-radius: 24px;
    margin: 8px;
    padding: 16px;
    background-color: $white-light-3;
    width: 372px;
    height: 336px;
    box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);
    h2{
      width: 90%;
    }


    .heart{
      margin-left: 70px;
      width: 60px;
    }

    @include responsive(m){
      width: 364px;
      height: 336px;
    }

    @include responsive(s){
      width: 306px;
      height: 356px;
      max-width: 388px;
    }

    @include responsive(xs){
      width: 336px;
      height: 356px;
    }

    .calc-frete{
      cursor: pointer;
      transition: .4s ease;
      &:hover{
        text-decoration: underline;

      }
    }

    .small-img{
      width: 118px;
      height: 136px;
      border-radius: 12px;
      background-color: $white-light-1;

      img{
        width: 70%;
      }

    }

    @include responsive(s){
      .buttonAddCart{
        width: 145px;
        padding: 8px;
    }
    }

  }

  .product-desc{
    padding: 16px;
    border-radius: 24px;
    margin: 24px 16px;
    background-color: $white-light-3;
    width: 906px;
    height: 432px;
    box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);
    @include responsive(m){
      width: 824px;
      height: 372px;
    }
    @include responsive(s){
      width: 516px;
      height: 572px;
    }

    @include responsive(xs){
      width: 356px;
      height: 748px;
    }
  }
}

.container-add-product{
  font-family: 'Roboto', sans-serif;
  border-radius: 24px;
  background-color: $white-light-1;
  user-select: none;
  cursor: pointer;
  .btn-sum, .btn-sub{
    padding: 8px;
    border: 0;
    outline: none;
    color: $white-light-3;
    border-radius: 80%;
    background-color: $primary-normal;
    padding: 8px;
    transition: .4s ease;
    &:hover{
      transform: scale(1.1);
      background-color: $primary-dark-3;
    }
  }
}


// Cart Page

.container-order{
  border-radius: 18px;
  width: 100%;
  padding: 8px 16px;
  background-color: $white-light-3;
  box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);

  .image-product-cart{
    border-radius: 12px;
    width: 98px;
    background-color: $white-light-1;
    height: 116px;

    img{
      width: 70%;
    }
  }

  h2{
    font-family: 'Roboto', sans-serif;
  }

  @include responsive(xs){
    max-width: 95%;
    .image-product-cart{
      margin-top: 16px;
    }
  }
}

.container-payment{
  width: 332px;
  height: 282px;
  padding: 16px;
  background-color: $white-light-3;
  border-radius: 24px;
  box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px #00000014;
  input{
    width: 196px ;
  }
}


// Fav Page

.container-fav{
  max-width: 65%;
  border-radius: 18px;
  width: 100%;
  padding: 8px 16px;
  background-color: $white-light-3;
  box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);

  h2{
    font-family: 'Roboto', sans-serif;
  }

  .image-product-fav{
    border-radius: 12px;
    width: 98px;
    background-color: $white-light-1;
    height: 116px;

    img{
      width: 70%;
    }

  }

  .buttons{
    margin-bottom: 16px;
  }

  @include responsive(s){
    flex-direction: column;
    max-width: 396px;
    height: 286px;

    .container-info{
      margin-top: 16px;
    }
  }
}

// Create Account / Login Account Page

.container-create-login-account{
  margin-top: 270px;
  margin-bottom: 260px;
  padding: 24px;
  width: 456px;
  background-color: $white-light-3;
  border-radius: 24px;
  box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);

  .title{
    margin-right: 60%;
    margin-bottom: 24px;
  }

  @include responsive(s){
    width: 332px;
    margin-top: 258px;

    .title{
      margin-right: 0%;
    }
  }

  a{
    font-family: 'Roboto', sans-serif;
    color: $primary-normal;
    transition: .4s ease;

    &:hover{
      color: $black-dark-3;
    }
  }
}

// Profile Page

.container-profile-admin{
  width: 1048px;
  padding: 24px;
  background-color: $white-light-3;
  border-radius: 24px;
  box-shadow: 0px -2px 51px 0px rgba(0, 0, 0, 0.3700000047683716);

  .options{
    border-radius: 12px;
    padding: 8px;
    background-color: $primary-normal;

    h2{
      color: $white-light-3;
    }

    @include responsive(s){
      .option-item-1, .option-item-2{
       transform: scale(.8);
       transition: .4s ease;
        &:hover{
          transform: scale(.85);
      background-color: $primary-dark-1;
        }
      }
    }
  }

  .option-item-1, .option-item-2{
    padding: 8px;
    border-radius: 12px;
    transition: .4s ease;
    cursor: pointer;


    &:hover{
      transform: scale(1.03);
      background-color: $primary-dark-1;
    }
  }


  .container-profile{
    display: none;
  }

  .container-admin{
    display: none;
  }

  @include responsive(m){
    width: 965px;
  }

  @include responsive(s){
    width: 364px;
  }
}

// Book Management Page

.container-book-info{
  border-radius: 18px;
  width: 800px;
  height: 154px;
  padding: 8px 16px;
  background-color: $white-light-3;
  box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);

  h2{
    font-family: 'Roboto', sans-serif;
  }

  .container-info {
    @include responsive(s){
      margin-top: 24px;
    }
  }

  .image-product{
    border-radius: 12px;
    width: 98px;
    background-color: $white-light-1;
    height: 116px;
  }

  img{
    width: 70%;
  }

  @include responsive(s){
    width: 336px;
    height: 292px;
  }

  .buttons{
    margin-left: 148px;
    @include responsive(s){
      margin-left: 0px;
    }
    margin-bottom: 18px;

    .btn-delete{
      background-color: $primary-dark-2;

      &:hover{
        background-color: $primary-dark-3;
      }
    }
  }
}

// Edit/Create Book Page

.container-edit-book, .container-create-book{
  width: 578px;
  background-color: $white-light-3;
  padding: 24px;
  box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);
  border-radius: 24px;

  input{
    width: 472px;
  }

  button{
    width: 100%;
    height: 48px;
    font-size: 22px;
  }

  @include responsive(s){
    width: 328px;

  .text-sub-bar{
    width: 80%;
  }

  form{
    margin: 16px;
  }

  input{
    width: 236px;
  }

  button{
    width: 100%;
    height: 38px;
    font-size: 16px;
  }
  }
}

.container-edit-book{
  .text-sub-bar{
    width: 100%;
  }
}


// Search Book

.container-cards{
  flex-wrap: wrap;
  width: 900px;

  @include responsive(s){
    width: 600px;
  }

  @include responsive(xs){
    width: 300px;
  }
}

.title-container-searchBook{
  top: 200px;

}

.delete-container{
  display: none;
  transition: .4s ease;
  .sub-container{
    border-radius: 24px;
    width: 556px;
    height: 156px;
    background-color: $white-light-3;
    box-shadow: 0px -0.359px 19.969px 0px rgba(0, 0, 0, 0.04), 0px 32.014px 61.049px 0px rgba(0, 0, 0, 0.08);
  }

  .btn-delete{
    background-color: $primary-dark-2;
    &:hover{
      background-color: $primary-dark-3;
    }
  }

  @include responsive(s){
    .sub-container{
      h2{
        font-size: 24px;
      }
      width: 336px;
      height: 256px;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
}

.container-notfound{
  height: 70vh;
}
